<%= content_for :title, "Edit request" %>

<%= content_for :menu do %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'New Rush', new_request_path %></li>
    <li><%= link_to 'Rush Log', requests_path %></li>
  </ul>
<% end %>

<h1>Edit request for <%= @request.loan_number %></h1>

<%= render 'form' %>
