<%= content_for :title, "Edit request" %>

<%= content_for :menu do %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to new_request_path do %>
        <span class="glyphicon glyphicon-plus"></span> New Rush
      <% end %>
    </li>
    <li>
      <%= link_to requests_path do %>
        <span class="glyphicon glyphicon-th-list"></span> Rush Log
      <% end %>
    </li>
  </ul>
<% end %>

<%= render 'form' %>
