<%= content_for :title, "Rush log" %>

<%= content_for :menu do %>
  <ul class="nav navbar-nav navbar-right">
    <li class="active"><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'New Rush', new_request_path %></li>
  </ul>
<% end %>

<h1>Rush log</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "created_at", "Date" %></th>
      <th><%= sortable "requested_by" %></th>
      <th><%= sortable "loan_number" %></th>
      <th><%= sortable "borrower_name" %></th>
      <th><%= sortable "reason", "Reason for rush" %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.created_at %></td>
        <td><%= request.requested_by %></td>
        <td><%= request.loan_number %></td>
        <td><%= request.borrower_name %></td>
        <td><%= request.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<ul>
  <% @requests.each do |request| %>
    <li><%= link_to request.loan_number, request_path(request) %></li>
  <% end %>
</ul>
