<%= content_for :title, "Rush request" %>

<%= content_for :menu do %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'New Rush', new_request_path %></li>
    <li><%= link_to 'Rush Log', requests_path %></li>
  </ul>
<% end %>

<div class="form-group">
  <%= label_tag :loan_number %>
  <p class="form-control" readonly>
    <%= @request.loan_number %>
  </p>
</div>
<div class="form-group">
  <%= label_tag :borrower_name %>
  <p class="form-control" readonly>
    <%= @request.borrower_name %>
  </p>
</div>
<div class="form-group">
  <%= label_tag :reason, "Reason for rush" %>
  <textarea class="form-control" rows="10" readonly>
    <%= @request.reason %>
  </textarea>
</div>

<p class="btn btn-default">
  <%= link_to "Edit", edit_request_path(@request) %>
</p>

<p class="btn btn-default">
  <%= link_to "Delete", request_path(@request),
                        data: {confirm: "Are you sure?"},
                        method: "delete" %>
</p>
