<h1><%= @request.loan_number %> - <%= @request.borrower_name %></h1>

<p>
  <%= @request.reason %>
</p>

<p>
  <%= link_to "Edit", edit_request_path(@request) %>
</p>
<p>
  <%= link_to "Return to requests list", requests_path %>
</p>
